version: '3.8'

services:
  stocky-api:
    build: .  # 현재 폴더의 Dockerfile로 빌드
    container_name: stocky-api
    ports:
      - "8080:8080" # 호스트:컨테이너
    environment:
      # 1. Database
      - DB_URL=${DB_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

      # 2. Google OAuth2
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}

      # 3. JWT
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ACCESS_TOKEN_EXPIRATION=${JWT_ACCESS_TOKEN_EXPIRATION}
      - JWT_REFRESH_TOKEN_EXPIRATION=${JWT_REFRESH_TOKEN_EXPIRATION}

      # 4. AWS Basic
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}

      # 5. Email (SES)
      - SENDER_EMAIL=${SENDER_EMAIL}
      - SES_SMTP_USERNAME=${SES_SMTP_USERNAME}
      - SES_SMTP_PASSWORD=${SES_SMTP_PASSWORD}

      # 6. Batch
      - BATCH_KEY=${BATCH_KEY}

    # .env 파일을 읽어서 환경변수 주입 (로컬 테스트용)
    env_file:
      - .env